body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 28%,
    rgba(255, 240, 213, 0.9920343137254902) 73%
  );
}

/* css for top navbar */
#maintopnav {
  background-color: rgb(238, 238, 238);
  position: sticky;
  padding: 5px 0;
  top: 0;
}
#fullNav {
  border-bottom: 1px solid rgb(187, 178, 178);
  margin-bottom: 15px;
  position: sticky;
  top: 32px;
  background-color: white;
}

#topnav {
  /* border: 1px solid; */
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 25px;
  font-size: 13px;
}

#divleft {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

#divright {
  width: 15%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

#mainnav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#leftmaindiv {
  /* border: 1px solid red; */
  display: flex;
  width: 45%;
  justify-content: space-between;
}

#categorydiv {
  /* border: 1px solid green; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#categorydiv a {
  color: black;
}
#categorydiv a:hover {
  font-weight: bold;
}

#imgDiv {
  height: 80%;
  width: 80%;
}
#imgDiv img {
  height: 100%;
  width: 100%;
}
#rightmaindiv {
  display: flex;
  /* border: 1px dashed black; */
  width: 40%;
  justify-content: space-between;
}
#inputDiv {
  width: 60%;
  /* border: 1px dashed black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputDiv input {
  width: 91%;
  height: 70%;
  background-color: rgb(234, 234, 234);
  border: none;
}
#inputDiv span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 73%;
  background-color: rgb(234, 234, 234);
}
#iconsDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  /* border: 1px dashed black; */
}
#iconsDiv>div a{
  color:black;
  text-decoration:none;
}
#flag {
  height: 40px;
  width: 40px;
}
#flag img {
  border-radius: 52%;
  height: 100%;
  width: 100%;
}

form {
  text-align: center;
}
#formDiv {
  /* border: 1px solid black; */
  width: 85%;
  margin: 60px auto 50px;
  background-color: white;
}
#email {
  border: none;
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
}
#pass {
  border: none;
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
}
#mail,
#pw {
    /* border: 1px solid red; */
  width: 35%;
margin: 50px auto;
height: 40px;
}
#submit{
    width: 35%;
margin: 50px auto;
height: 50px;
}
#submit>button{
    height: 100%;
  width: 100%;
  background-color: rgb(152, 152, 152);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 50px;
}