body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


/* css for top navbar */

#maintopnav {
  background-color: rgb(238, 238, 238);
  position: sticky;
  padding: 5px 0;
  top: 0;
}
#fullNav {
  border-bottom: 1px solid rgb(187, 178, 178);
  margin-bottom: 15px;
  position: sticky;
  top: 32px;
  background-color: white;
}

#topnav {
  /* border: 1px solid; */
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 25px;
  font-size: 13px;
}
#topnav>div>p{
  cursor: pointer;
}
#divleft {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

#divright {
  width: 15%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

#mainnav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#leftmaindiv {
  /* border: 1px solid red; */
  display: flex;
  width: 45%;
  justify-content: space-between;
}

#categorydiv {
  /* border: 1px solid green; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#categorydiv a{
  color:black;
}
#categorydiv a:hover{
  font-weight: bold;
}

#imgDiv {
  height: 75%;
  width: 75%;
}
#imgDiv img {
  height: 100%;
  width: 100%;
}
#rightmaindiv {
  display: flex;
  /* border: 1px dashed black; */
  width: 40%;
  justify-content: space-between;
}
#inputDiv {
  width: 60%;
  /* border: 1px dashed black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputDiv input {
  width: 91%;
  height: 70%;
  background-color: rgb(234, 234, 234);
  border: none;
}
#inputDiv span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 73%;
  background-color: rgb(234, 234, 234);
}
#iconsDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  /* border: 1px dashed black; */
}
#iconsDiv>div{
  cursor: pointer;
}
#iconsDiv>div a{
  color:black;
  text-decoration:none;
}
#flag {
  height: 40px;
  width: 40px;
}
#flag img {
  border-radius: 52%;
  height: 100%;
  width: 100%;
}

/* CSS Body */
#categories {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 20px;
  font-size: 20px;
  cursor: pointer;
}
#categories > div > a {
  color: black;
}
#categories > div > a:hover {
  font-weight: bold;
  text-decoration: underline;
}
#topSlider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#topSlider > div > img {
  width: 100%;
  cursor: pointer;
}

#topFullimg {
  margin: 20px auto 20px;
  width: 98%;
}
#topFullimg > img {
  width: 100%;
  cursor: pointer;
}

#topDivData {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 85%;
  margin: auto;
  gap: 20px;
  font-size: 15px;
  text-align: center;
}

#topDivData > div {
  cursor: pointer;
}
#topDivData > div > img {
  width: 100%;
}

#freeGift > img {
  width: 100%;
  cursor: pointer;
}

#categoryDesc > h3,
#disDesc > h3,
#bestSellDesc > h3,
#stoopidDesc > h3 {
  text-align: center;
  margin: 0;
  color: black;
}

#popularCategories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;
}

#popularCategories > div > img {
  width: 100%;
}

#disDesc {
  font-size: 20px;
}
#discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  cursor: pointer;
}

#discount > div > img {
  width: 100%;
}

#stoopidCollection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    cursor: pointer;
}

#stoopidCollection>div>img{
    width: 100%;
}

#tribeExclusive{
    width: 99%;
    margin: auto;
}
#tribeExclusive>img{
    width: 100%;
    cursor: pointer;
}

#vote>img{
    width: 100%;
    cursor: pointer;
}


/* footer css */
#footerDiv {
  background-color: rgb(24, 24, 24);
  padding-bottom: 200px;
}

.container1 {
  width: 85%;
  margin: auto;
  color: gold;
  /* line-height: 1px; */
}
.container1 h1 {
  margin-top: 10px;
  padding-top: 50px;
}
.container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}

#spanImg img {
  width: 40%;
}
.container div p {
  font-size: 13px;
}
.container2 {
  display: flex;
  margin-left: 100px;
  width: 65%;
  justify-content: space-between;
  /* border: 1px solid white; */
}
.container2 div {
  /* border: 1px solid greenyellow; */
}
.icons > span > i {
  color: white;
  margin-top: 15px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: normal;
}
ul li a:hover {
  font-size: 15px;
  font-weight: bold;
}
.footer1 > p {
  color: gold;
}

ul li {
  list-style: none;
  margin-bottom: 5px;
  /* line-height: 23px; */
}

form input {
  background-color: #181818;
  border: transparent;
  border-bottom: 1px solid gold;
  font-size: 18px;
}
button {
  background-color: gold;
  border: transparent;
  padding: 5px 15px;
  cursor: pointer;
}
i {
  padding-right: 10px;
}
hr {
  width: 85%;
  justify-content: center;
}
h3 {
  color: white;
}
h2 {
  color: #51ccc4;
}